@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683622634267') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-yueliang:before {
  content: "\e63e";
}

.icon-sousuo:before {
  content: "\e70a";
}

.icon-ziyuan:before {
  content: "\e653";
}

.icon-email:before {
  content: "\e856";
}

