.wrapper{

  .InfoList{
    display: flex;
    padding: 0 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    width: 100%;
    margin-bottom: 50px;
    >li{
      width: 32%;
      margin-top: 20px;
    }
  }

}