.wrapper{
  margin-top: 30px;
  box-sizing: content-box;
  position: relative;
  width: 346px;
  height: 42px;
  padding: 6px;
  border-radius: var(--radius-12);
  background-color: white;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
  border: 2px solid rgb(226, 229, 240);
  overflow: hidden;
  &:hover{
    border: 2px solid #008efa;
  }
  .icon{
    font-size: 24px;
    color: #999999;
    margin-left: 15px;
  }
  input{
    border: none;
    margin-left: 15px;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    color: black;
  }
  input:focus{
    outline: none;

  }

}