:root .light{
  --radius-24: 1.71429rem;
  --radius-12: 0.857143rem;
  --shadow-3: rgba(23,25,29,0.2) 0px 16px 16px -16px,rgba(23,25,29,0.03) 0px 14px 20px 0px,rgba(23,25,29,0.04) 0px 0px 0px 1px;
  --text-color:rgba(60, 60, 67, .92);
  --menu-bg-color:#f6f6f7;
  --menu-border-color:rgba(60, 60, 67, .29);
  --icon-bg-color:white;
  --body-bg-color:#ffffff;
  --title-bg-become-color:linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
  --button-bg-color:#646cff;
  --logo-bg-color:linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
  --logo-img-filter:blur(72px);
  --emoji-bg-color:#e3e3e5;
  --card-details-color:rgba(60, 60, 67, .7);
  --body-text-color:rgba(60, 60, 67, .92);
  --card-bg-color:#f6f6f7;
  --card-border-color:#f6f6f7;
}

:root .dark{
  --text-color:rgba(255, 255, 245, .86);
  --menu-bg-color:#313136;
  --menu-border-color:rgba(82, 82, 89, .68);
  --icon-bg-color:black;
  --body-bg-color:#121212;
  --title-bg-become-color:linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
  --button-bg-color:#646cff;
  --logo-bg-color:linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
  --logo-img-filter:blur(72px);
  --emoji-bg-color:#1e1e20;
  --card-details-color:rgba(235, 235, 245, .6);
  --body-text-color: rgba(255, 255, 245, .86);
  --card-bg-color:#252529;
  --card-border-color:#252529;
}
